.tech {
    width: 50vw;

}

.developer {

}

.techHeader {
    display: flex;
    width: 50vw;
    gap: 5px;
    align-items: center;

}

.developerHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}

.row {
    display: flex;
    padding-left: 17px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;

    color: #000000;
}

.rowHeader {
    margin-top:36px ;
    padding-left: 17px;


    color: #000000;
    display: flex;
    height: 36px;
    background: #E5E5E5;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

}

.loading {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 40vw;
    top: 40vh;

}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E5E5E5;
    padding: 0;
}
