.buttonsContainer {
    display: flex;
    gap: 21px;
}

.clock {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.watch {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

}

.watch strong {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.more {
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);

}