.select {
    width: 180px;

    padding: 5px;

    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.select:focus {
}


.option:hover {
}
